annotated-types==0.6.0
anyio==3.7.1
astroid==3.0.1
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
dill==0.3.7
fastapi==0.104.0
greenlet==3.0.0
h11==0.14.0
idna==3.4
iniconfig==2.0.0
isort==5.12.0
mccabe==0.7.0
packaging==23.2
platformdirs==3.11.0
pluggy==1.3.0
psycopg2==2.9.9
pydantic==2.4.2
pydantic_core==2.10.1
pylint==3.0.2
pytest==7.4.2
pytoolconfig==1.2.6
requests==2.31.0
rope==1.10.0
sniffio==1.3.0
SQLAlchemy==2.0.22
starlette==0.27.0
tomlkit==0.12.1
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.23.2
